<nav class="navbar navbar-expand bg-primary">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="text-white bi bi-instagram"></i
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="text-white bi bi-facebook"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="text-white bi bi-whatsapp"></i></a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Lingua</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Tema</a>
    </li>
  </ul>
</nav>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <span class="fw-bolder">car</span>
      <span class="fw-lighter">landia</span>
    </a>
    <button class="btn border-0 d-lg-none">
      <i class="bi bi-list"></i>
    </button>
    <ul class="navbar-nav d-none d-lg-flex">
      <li class="nav-item">
        <a class="nav-link" href="#">Chi Siamo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dove Siamo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vendita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Noleggio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Customer Care</a>
      </li>
    </ul>
  </div>
</nav>
